@import "./sass/base";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body {
  background-color: #011627;
  color: #fcfeff;
  font-family: "Josefin Sans", sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  font-weight: bold;
  font-size: 64px;
}
h1.name {
  font-size: 36px;
}

h1.navigation {
  font-size: 22px;
  flex: 4;
}
h1.navigation:hover {
  color: #00a6fb;
}
.bar {
  grid-column: 1/3;
  height: 10px;
  width: auto;
  background-color: #00a6fb;
}
