*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
$blue: #00a6fb;
$hoverBlue: #0468cc;
@mixin mobile-friendly($breakpoint, $fontSize) {
  @media only screen and (max-width: $breakpoint) {
    font-size: $fontSize;
    // color: blue;
  }
}

a {
  text-decoration: none;
  color: $blue;
  &:hover {
    color: $hoverBlue;
    transition: color 1s;
  }
}

.pageTitle {
  text-align: center;
  h1 {
    font-weight: bold;
    font-size: 64px;
    @include mobile-friendly(500px, 20px);
  }
}

#callista {
  position: relative;
  left: -10%;
}

#carmela {
  width: 100%;
}

#dtiys {
  @media only screen and (max-width: 940px) {
    width: 100%;
    height: fit-content;
  }
}
