.footer {
  padding: auto;
  bottom: 0;
  grid-area: inherit;
  display: flex;
  height: auto;
  font-size: 20px;
  justify-content: center;
  background-color: #fcfeff;
  color: black;
}

.socialIcon {
  fill: $blue;
  width: 50px;
  height: auto;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  & :hover {
    fill: $hoverBlue;
    transition: fill 0.5s;
  }
}
